*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    color: grey;
    font-weight: bold;
}
.container{
    display: flex;
}
.nav{
    display: flex;
    flex-direction: column;
    box-shadow:  5px 0  10px 0 rgba(0,0,0,0.1);
    height: 100vh;
    width: 100px;
    clear: right;
    margin-top: 10px;
    z-index: 3;
    background-color: #fff;

}
.logo{
    border-bottom: 1px solid grey;
    text-align: center;
}
.logo i{
    padding: 30px;
    font-size: 30px;
}
li{
    text-align: center;
    padding: 20px;
    list-style: none;
    transition: 0.5s;
}
.list li:hover{
    background-color: #B5EAEA;
    border-left: 3px solid #185ADB;
} 
.contents{
    position: relative;
}
.contents .blank{
    background-color: #fff;
    height: 90px;
    width: 93vw;
    margin-top: 10px;
    box-shadow: 0 5px  10px 0 rgba(0,0,0,0.08) ;
}
.contents .videos{
  position: absolute;
  top: 150px;
  left: 50px;
}
.contents .videos i{
    transform: rotate(180deg);
    margin-right: 5px;
}
.contents .url{
    position: absolute;
    top: 230px;
    left: 15%;
    text-align: left;
    padding-left: 20px;
    align-items: center;
    width: 60vw;
    height: 40px;
    font-weight: bold;

}
.contents .or{
    position: absolute;
    top: 320px;
    left: 50%;
    font-weight: bold;
    font-size: 20px;

}
.contents input{
    position: absolute;
    top: 400px;
    left: 220px;
    width: 160px;
    height: 160px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
}

